@model List<TopicModel>
@{
    ViewData["Title"] = "题库";
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">题目</th>
            <th scope="col"style="padding:0">
                <form class="form-inline my-2 my-lg-0" asp-action="Search" asp-controller="Topic" method="post" style="margin:0;">
                    <input name="queryString" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </th>
            <th scope="col" >
                
            </th>
            <th scope="col" >
                
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.id</td>
                <td>@item.title</td>
                <td><a asp-action="Detail" asp-route-id="@item.id">详细</a></td>
                <td>
                    <form id="subform @item.id" asp-action="Delete" asp-route-id="@item.id" method="post">
                        <a style="color:red;cursor:pointer" onclick="confirm('确认删除?')?document.getElementById('subform @item.id').submit():'';">删除</a>
                    </form>
                </td>
            </tr>
        </tbody>
    }
</table>

<a asp-action="SelectCreate" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">添加题目</a>